@font-face {
  font-family: magneto;
  src: url(../fonts/magneto.TTF);
}

body {
  padding-top: 170px;
  background: rgb(100, 170, 143);
}

.altura-primer-nav {
  height: 40px;
}

header>div>a>img {
  display: inline;
}

header>div>a>h3 {
  display: inline;
  color: white;
  font-family: magneto;
}

header>div>a {
  text-decoration: none!important;
  margin-right: 10px;
  margin-left: 10px;
}

.altura-sociales {
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

.centrar-botones-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.color-menu-nav {
  background: rgb(100, 170, 143)!important;
}

.nav-pills>li.active>a {
  background: black!important;
}

aside h2 {
  text-align: center;
}

.margin {
  padding: 10px;
  margin-bottom: 30px;
  -webkit-box-shadow: 0 0 10px grey;
  box-shadow: 0 0 10px grey;
}

.margin-bottom-jumbotron {
  margin-bottom: auto;
}

.sin-margin-top {
  margin-top: auto;
}

.margin-left {
  padding-left: 15px;
  margin-bottom: auto;
}

.margin-left a {
  color: yellow;
}

.alineado-compartir {
  text-align: center!important;
}

.presentacion-comentarios {
  display: inline;
}

.iconos-comentarios {
  opacity: 0.5;
}

.iconos-comentarios:hover {
  opacity: 1;
}

.color-pie-de-pagina {
  background: black;
}

.no-tapar-footer {
  height: 30px;
}

.no-subrayado {
  -webkit-text-decoration-line: none!important;
  text-decoration-line: none!important;
}

.well {
  margin-bottom: 0
}

.well p {
  margin-bottom: auto;
}

hr {
  border: 1px dashed rgb(100, 170, 143);
}

form, .padding-tabla {
  padding: 20px;
}

table, .table-responsive {
  margin-bottom: auto!important;
}

.centrado-compartir-imagen {
  margin: 0 auto!important;
}

.centrado-compartir-comentario {
  margin: 0 auto!important;
}

.centrado-articulo-imagen {
  text-align: center;
}

@media (min-width: 769px) {
  .centrado-padre {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .centrado-hijo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media (min-width: 421px) and (max-width:768px) {
  header>div.centrado {
    text-align: center;
  }
  header>div>div {
    text-align: center;
  }
  body {
    padding-top: 180px;
  }
  .tamano-buscar {
    max-width: 400px;
    margin: 0 auto;
  }
}

@media (max-width:420px) {
  header>div.centrado {
    text-align: center;
  }
  header>div>div {
    text-align: center;
  }
  body {
    padding-top: 180px;
  }
}

@media (min-width: 0px) and (max-width:768px) and (orientation: landscape){
   .desaparecer{
       display: none!important;
   }

   body{
     padding-top: 50px!important;
   }
}
